.containerLight{
    background-color: #f7f7f7;
    padding-top: 15%;
    width: 100vw;
    height: 80vh;
}

.containerDark{
    background-color: #313131;
    padding-top: 15%;
    width: 100vw;
    height: 80vh;
}

.dataContainer{
    text-align: center;
    padding-left: 20%;
    padding-right:20%;
    padding-bottom: 5%;
}

.titleLight{
    color: #000000;
    margin: 0;
    font-size: 60px;
}

.titleDark{
    color: #f1f1f1;
    font-size: 60px;
}

.textLight{
    color: #8b8888;
    margin-top: 5%;
    font-size: 20px;
}

.textDark{
    font-size: 20px;
    color: #c0c0c0;
}
@media screen and (max-width: 1300px) {
  .containerLight{
    padding-top: 17%;
}
.dataContainer{
  padding-left: 20%;
  padding-right:20%;
  padding-bottom: 5%;
}
  .titleLight{
    font-size: 50px;
  }
}

@media screen and (max-width: 1100px) {
  .containerLight{
    padding-top: 18%;
}
.dataContainer{
  padding-left: 20%;
  padding-right:20%;
  padding-bottom: 5%;
}
  .titleLight{
    font-size: 45px;
  }
  .textLight{
      font-size: 18px;
  }
}

   @media screen and (max-width: 900px) {
    .containerLight{
      padding-top: 23%;
  }
  .dataContainer{
    padding-left: 15%;
    padding-right:15%;
    padding-bottom: 2%;
  }
    .titleLight{
      font-size: 35px;
    }
    .textLight{
      padding-top: 3%;
        font-size: 17px;
    }
  }

  @media screen and (max-width: 750px) {
    .containerLight{
      padding-top: 27%;
  }
}

  @media screen and (max-width: 610px) {
    .containerLight{
      padding-top: 35%;
  }
  .dataContainer{
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2%;
  }
  .titleLight{
    font-size: 30px;
  }
    .textLight{
      padding-top: 4%;
        font-size: 17px;
    }
  }

  @media screen and (max-width: 470px) {
    .containerLight{
      padding-top: 45%;
  }
    .dataContainer{
      padding-left: 13%;
      padding-right: 13%;
      padding-bottom: 2%;
    }
    .textLight{
      padding-top: 6%;
        font-size: 15px;
    }
  }

  @media screen and (max-width: 320px) {
    .scrolldown{
      display: none;
    }
    .containerLight{
      padding-top: 55%;
  }
  .titleLight{
    font-size: 25px;
  }
    .dataContainer{
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 2%;
    }
    .textLight{
      padding-top: 6%;
        font-size: 15px;
    }
  }

  .scrollPosition {
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15%;
  }
  
  .scrolldown {
    --color: rgb(0, 0, 0);
    --sizeX: 30px;
    --sizeY: 50px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left: var(sizeX / 2);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 16px;
    cursor: pointer;
  }
  .scrolldownDark {
    --color: rgb(255, 255, 255);
  }
  
  .scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #2a547066;
  }
  
  
  @keyframes scrolldown-anim {
    0% {
      opacity: 0;
      height: 6px;
    }
  
    40% {
      opacity: 1;
      height: 10px;
    }
  
    80% {
      transform: translate(0, 20px);
      height: 10px;
      opacity: 0;
    }
  
    100% {
      height: 3px;
      opacity: 0;
    }
  }
  
  .chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 48px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .chevrondown {
    margin-top: -6px;
    position: relative;
    border: solid var(--color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
  }
  
  .chevrondown:nth-child(odd) {
    animation: pulse54012 500ms ease infinite alternate;
  }
  
  .chevrondown:nth-child(even) {
    animation: pulse54012 500ms ease infinite alternate 250ms;
  }
  
  @keyframes pulse54012 {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 0.5;
    }
  }


  .botonProyectos {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px,rgba(0, 0, 0, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 60px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 20px;
    margin-top: 8%;
    transition: transform 0.5s;
   }
   
   .botonProyectos:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
   }
   
   .botonProyectos:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-4px);
   }
   
   .botonProyectos:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
   }